<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty
            scope="context"
            name="LOGS_ROOT_PATH"
            source="logging.file.path"
            defaultValue="./logs"
    />


    <appender
            name="APP_LOG_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 현재 애플리케이션이 쓰고 있는 로그 -->
        <file>${LOGS_ROOT_PATH}/app.log</file>


        <!-- 오래된 로그를 어떻게 보관할 것인가 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOGS_ROOT_PATH}/archive/app.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <maxHistory>30</maxHistory>

            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>


        <!-- 한 줄의 로그를 JSON으로 변환 -->
        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">

            <format>${FILE_LOG_STRUCTURED_FORMAT}</format>

            <charset>UTF-8</charset>

        </encoder>

    </appender>


    <root level="INFO">
        <appender-ref ref="APP_LOG_FILE"/>
    </root>

</configuration>